######################
# Maven
######################
/target

######################
# Intellij
######################
.idea/
*.iml

######################
# Eclipse
######################
.project
.settings
.classpath
